.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: aqua;
}

#first-section {
    background-image: url('/static/images/img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;

}

.img-posts {
    background-color: aqua;
    width: 100%;
    max-height: 225px;
    display: block;
    background-position: 10%, center;
    background-repeat: no-repeat;
}

.card-text {

    text-overflow: ellipsis;

}

.img-blog {
    width: 40px;
    height: 100px;
}

.card-body {

    max-height: 12rem;
}

a>.card-text {
    text-decoration: none;
    color: #000;
    list-style: none;

}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}